body {
    background-color:rgb(210, 208, 208);
    margin: 0px ;
}
.menu {
    background-color: white;
    height: 100px ;
    box-shadow: 1px 1px 7px 0px black;
}
.ichgi {
    display: flex;
    justify-content: center;
    color: gray;
}
.ichgi :hover{
    color: black;
}
P{
    margin-left: 20px ;
    position: relative;
    top: 23px ;
    right: 35px ;
    color: gray;
}
a{
    text-decoration: none;
}
span{
    margin-left: 20px;
    position: relative;
    top: 38px ;
    right: 35px;
}
.img1{
    position: relative;
    top: 30px ;
    right: 56px ;
}
select {
    border: none;
    position: relative;
    top: 25px ;
    color: aqua;
    font-size: 15px ;
}
.knopka {
    margin-left: 20px ;
    padding: 1px 20px ;
    height: 40px ;
    border: 3px solid blue;
    border-radius: 5px ;
    position: relative;
    top: 30px ;
    background-color: white;
    color: blue;
}

.knopka2{
    margin-left: 12px ;
    padding: 0px 30px ;
    height: 40px ;
    border: 3px solid green;
    border-radius: 5px ;
    background-color: white;
    color: green;
    position: relative;
    top: 30px ;
}
@media (max-width:900px ){
    .menu{
        height: 70px ;
        box-shadow: none;
    }     
    P{
        margin-left: 10px ;
        position: relative;
        top: 15px ;
        right: 28px ;
        color: gray;
        font-size: 12px ;
    }
    span{
        margin-left: 10px;
        position: relative;
        top: 26px ;
        right: 28px;
        font-size: 13px ;

    }
    .img1{
        position: relative;
        top: 22px ;
        right: 40px ;

        width: 80px ;
        height: 20px ;
    }
    select {
        margin-right: 25px ;
        position: relative;
        top: 16px ;
        color: aqua;
        font-size: 12px ;
    }
    .knopka {
        padding: 1px 15px ;
        height: 25px ;
        border: 1px solid blue;
        border-radius: 5px ;
        position: relative;
        top: 24px ;
        background-color: white;
        color: blue;
        right: 30px ;
    }
    .knopka2{
        padding: 0px 15px ;
        height: 25px ;
        border: 1px solid green;
        border-radius: 5px ;
        background-color: white;
        color: green;
        position: relative;
        top: 25px ;
        right: 35px ;
    }


}
@media(max-width:600px ){
    .menu{
        height: 50px ;
        box-shadow: none;
    }     
    .img1{
        position: relative;
        top: 22px ;
        right: 36px ;

        width: 40px ;
        height: 10px ;
    }
    P{
        margin-left: 2px ;
        position: relative;
        top: 10px ;
        right: 28px ;
        color: gray;
        font-size: 10px ;
    }
    span{
        margin-left: 2px ;
        position: relative;
        top: 21px ;
        right: 28px;
        font-size: 10px ;

    }   
    select {
        margin-right: 25px ;
        position: relative;
        top: 12px ;
        color: aqua;
        font-size: 8px ;
}
.knopka {
    padding: 1px 10px ;
    height: 25px ;
    border: 1px solid blue;
    border-radius: 5px ;
    position: relative;
    top: 15px ;
    background-color: white;
    color: blue;
    right: 38px ;
}
.knopka2{
    padding: 0px 10px ;
    height: 25px ;
    border: 1px solid green;
    border-radius: 5px ;
    background-color: white;
    color: green;
    position: relative;
    top: 15px ;
    right: 43px ;
}
}